@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');


.bg-white {
    background-color: #FFF6F0;
}

.bg-white-darker {
    background-color: #E2D9D2;
}

.bg-black {
    background-color: #000000;
}

.bg-brown-ish {
    background-color: #3E3A38;
}

::placeholder {
    color: #C5BAB5;
}

.logo-size-nav {
    width: 30px;
}

.navbar {
    min-height: 80px;
}

.nav-link:hover {
    opacity: 0.7;
}

.space-font {
    font-family: 'Space Grotesk', sans-serif;
}

h1 {
    font-family: 'Space Grotesk', sans-serif;
}

h2 {
    font-family: 'Space Grotesk', sans-serif;
}

h3 {
    font-family: 'Space Grotesk', sans-serif;
}

p {
    font-family: 'Inter', sans-serif;
}

.display-1 {
    font-weight: 400;
}

.display-3 {
    font-weight: 400;
}

.display-6 {
    font-weight: 400;
}

.form-control::placeholder {
    color: #8b8b8b;
    opacity: 1;
}

.form-control:focus {
    background: transparent;
    color: white;
}

.bigger-bottom-padding {
    padding-bottom: 367px;
}

.index-custom-color {
    background: linear-gradient(180deg, #7383F8 -16.36%, #E2B0FF 2.1%, #9B99F2 36.88%, rgba(255, 255, 255, 0.00) 100%);
}

.contact-contact-color {
    background: linear-gradient(180deg, #FCBCFF 0%, #C5D8FD 15.87%, #ffffff 90.87%);
}

.foot-divider {
    height: 2px;
    background-color: #C5BAB5;
}

.card-size {
    width: 22em;
}

.contact-border {
    border: 1px solid #3E3A38;
}